@model ANVBookstore.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseProf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId" class="btn btn-lg btn-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-lg btn-primary">Back to List</a>
</div>
